:root{
    --primary-color:#000;
    --secondary-color:#ffff;
    --font-primary:'Montserrat', sans-serif;;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 200;
}


/* Cabecera de la página */
h1 {
    text-align: center;
}
 
p{
    text-align: center;
    font-size: 19px;
} 

.banner {
    width: 100%;
    height: 150px;
    background-image: url(/img/banner.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Tarjetas */

h3{
    text-align: center;
}

.container{
    height: 150px;
    padding: 2px 16px;
}


.cards{
    margin-top: 60px;
}
.card {     
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img{
   
    width: 100%;
}

/* Herramientas */
































/* emojis */





/* pie de página */

footer{
    bottom: 0;
    position: fixed;
}

footer p{
    font-size: 16px;
}
